In [5]:
import pandas as pd
import numpy as np
from unicodedata import normalize

table_MN = pd.read_html('https://henryu20201c579.github.io/Proyecto_Ingles/Basic1.html')
table_MN

[             English                Spanish
 0              gifts                regalos
 1    important items  articulos importantes
 2            friends                 amigos
 3              photo                   foto
 4              candy                  dulce
 ..               ...                    ...
 98              roof                  techo
 99             graph                grafico
 100           laughs                  risas
 101            crabs              cangrejos
 102           gloves                guantes

 [103 rows x 2 columns],
          Questions        Anwsers
 0  hola como estas  yo bien y t√∫?,
    English  Spanish
 0      1.0      2.0
 1      NaN      NaN
 2      NaN      NaN]

In [12]:
table_MN[2]

   English  Spanish
0      1.0      2.0
1      NaN      NaN
2      NaN      NaN